@import url('https://fonts.googleapis.com/css?family=Poor+Story');

@font-face {
  font-family: 'Vertigon';
  src: url('./../fonts/Vertigon.otf');

}


body {
  background-color: #f6f1ed;
  font-family: Helvetica, sans-serif;
  font-size: 1.3em;


}

/* styling header and creating the crooked pattern for saul bass style */

header {
  filter: drop-shadow(10px 20px black);

}

.shapeContainer,
.shapeContainer1,
.shapeContainer2 {
  max-height: 100px;
  height: 100vh;
  width: 100%;
  background-color: #cf4917;
  clip-path: polygon(0% 0%, 0% 100%, 12% 88%, 22% 92%, 30% 98%, 41% 93%, 53% 88%, 63% 93%, 76% 97%, 86% 91%, 100% 99%, 100% 74%, 100% 2%, 100% 0%);
}

.shapeContainer1 {
  background-color: #cc0b1c;
}

.shapeContainer2 {
  background-color: #573D64;
}


/* menu/navigation styling */
.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu li {
  border: 3px black dotted;
  display: flex;
  font-size: 1em;
  margin: 1em;
  max-width: 8em;
  width: 100%;
  height: 100%;
  justify-content: center;

}


.menu li a {
  text-decoration: none;
  color: black;
  padding: 0.2em;

}

.menu li a:hover {
  text-decoration: underline;
}

#home {
  border: none;
}

/* text */

.bodyText {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.greeting {
  font-family: 'Vertigon', 'Poor Story', cursive, Helvetica;
  font-size: 2em;
}

.information {
  text-align: justify;
  line-height: 2em;

}

/* footer styling */
footer {
  text-align: center;
  font-size: 0.6em;

}


/* about me page styling start  */

#myPassionCollage,
#makeup {
  float: left;
  box-shadow: 5px 5px 8px #cc0b1c;
  margin: 1em;


}

#makeup {
  box-shadow: 5px 5px 8px black;
}

/* color scheme */

.burntSiena,
.harvestGold,
.black,
.red,
.honeyFlower {
  background-color: #cf4917;
  clip-path: polygon(0% 34%, 39% 22%, 83% 26%, 93% 43%, 100% 58%, 54% 59%, 9% 55%, 0% 58%);
  max-height: 100px;
  height: 100vh;
  max-width: 200px;
  width: 100%;
}

/* color polygons  */

.harvestGold {
  clip-path: polygon(30% 15%, 12% 39%, 28% 65%, 69% 64%, 90% 34%, 72% 11%, 49% 8%);
  background-color: #f9ac3d;
}


.black {
  clip-path: polygon(8% 11%, 43% 8%, 83% 6%, 85% 64%, 85% 85%, 59% 83%, 33% 82%, 5% 85%);
  background-color: black;
}

.shadowPolygonBlack {
  filter: drop-shadow(10px 2px white);

}

.red {
  clip-path: polygon(47% 31%, 80% 13%, 95% 42%, 79% 79%, 50% 95%, 23% 65%, 10% 23%, 24% 5%);
  background-color: #cc0b1c;
}

.honeyFlower {
  clip-path: polygon(47% 52%, 15% 19%, 23% 14%, 48% 45%, 57% 14%, 69% 18%, 52% 48%, 83% 47%, 79% 58%, 51% 51%, 60% 69%, 54% 80%, 42% 51%, 33% 73%, 21% 69%, 36% 51%, 39% 45%, 14% 41%, 14% 34%, 16% 46%);
  background-color: #573D64;
}

.shadowPolygon {
  filter: drop-shadow(10px 2px black);
}