@import url('https://fonts.googleapis.com/css?family=Poor+Story');

@font-face {
  font-family: 'Vertigon';
  src: url('./../fonts/Vertigon.otf');

}


body {
  background-color: #f6f1ed;
  font-family: Helvetica, sans-serif;
  font-size: 1.3em;


}

/* styling header and creating the crooked pattern for saul bass style */

header {
  filter: drop-shadow(10px 20px black);

}

.shapeContainer,
.shapeContainer1,
.shapeContainer2,
.shapeContainer3,
.shapeContainer4 {
  max-height: 100px;
  height: 100vh;
  width: 100%;
  background-color: #cf4917;
  clip-path: polygon(0% 0%, 0% 100%, 12% 88%, 22% 92%, 30% 98%, 41% 93%, 53% 88%, 63% 93%, 76% 97%, 86% 91%, 100% 99%, 100% 74%, 100% 2%, 100% 0%);
}

.shapeContainer1 {
  background-color: #cc0b1c;
}

.shapeContainer2 {
  background-color: #573D64;
}

.shapeContainer3 {
  background-color: #f9ac3d;

}

.shapeContainer4 {
  background-color: #f6f1ed;

}

/* menu/navigation styling */
.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu li {
  border: 3px black dotted;
  display: flex;
  font-size: 1em;
  margin: 1em;
  max-width: 8em;
  width: 100%;
  height: 100%;
  justify-content: center;

}


.menu li a {
  text-decoration: none;
  color: black;
  padding: 0.2em;

}

.menu li a:hover {
  text-decoration: underline;
}

#home {
  border: none;
}

/* text */

.bodyText {
  text-align: center;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 3em;
}

.greeting {
  font-family: 'Vertigon', 'Poor Story', cursive, Helvetica;
  font-size: 2em;
}

.information {
  text-align: justify;
  line-height: 2em;

}

/* footer styling */
footer {
  text-align: center;
  font-size: 0.6em;

}


/* about me page styling start  */

#myPassionCollage,
#makeup {
  float: left;
  box-shadow: 5px 5px 8px #cc0b1c;
  margin: 1em;


}

#makeup {
  box-shadow: 5px 5px 8px black;
}

/* color scheme */


.colorContainer {
  margin: 2em;
  display: inline-block;
  border: 2px black dotted;
  max-width: 220px;
  width: 100%;

}

/* codes of colors */
.colorCodes {
  margin: 0.5em auto;
  border: 2px solid white;
  max-width: 200px;
  width: 100%;
  line-height: 1.8em;




}


/* general css rules for color polygons */
.burntSiena,
.harvestGold,
.black,
.red,
.honeyFlower {
  max-height: 100px;
  height: 100vh;
  max-width: 210px;
  width: 100%;
  margin: 0 auto;

}

/* color polygons  */

.burntSiena {
  background-color: #cf4917;
  clip-path: polygon(0% 34%, 39% 22%, 83% 26%, 93% 43%, 100% 58%, 54% 59%, 9% 55%, 0% 58%);
}

.harvestGold {
  clip-path: polygon(30% 15%, 12% 39%, 28% 65%, 69% 64%, 90% 34%, 72% 11%, 49% 8%);
  background-color: #f9ac3d;
}


.black {
  clip-path: polygon(8% 11%, 43% 8%, 83% 6%, 85% 64%, 85% 85%, 59% 83%, 33% 82%, 5% 85%);
  background-color: black;
}

.shadowPolygonBlack {
  filter: drop-shadow(10px 2px white);

}

.red {
  clip-path: polygon(47% 31%, 80% 13%, 95% 42%, 79% 79%, 50% 95%, 23% 65%, 10% 23%, 24% 5%);
  background-color: #cc0b1c;
}

.honeyFlower {
  clip-path: polygon(4% 17%, 18% 4%, 35% 35%, 50% 4%, 63% 15%, 36% 40%, 68% 41%, 60% 61%, 34% 42%, 30% 66%, 6% 60%, 29% 43%);
  background-color: #573D64;
}

.shadowPolygon {
  filter: drop-shadow(10px 2px black);

}

/* text  */

.colorText {
  text-align: justify;
  margin: 1em 2em 2em 2em;
  line-height: 2em;



}


#poster1 {

  max-height: 250px;
  height: 100%;
}

.posterContainer {
  float: right;
  margin: 1em;
  text-align: center;
}

h6 {
  font-weight: normal;
  font-style: italic;
}

.quote1 {

  max-width: 600px;
  width: 100%;
  font-family: 'Poor Story', cursive, sans-serif;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3em;

}

/* About Saul Bass */

/* posters */
.moviePosters {
  margin: 2em;
  display: inline-block;
  max-height: 300px;
  height: 100%;
  box-shadow: 5px 7px black;
}

#poster8 {
  float: right;
}


#carmen {
  transform: rotate(20deg);
}

#anatomy {
  transform: rotate(30deg);

}

#poster5 {
  transform: rotate(60deg);

}

.postersAlign {
  text-align: center;
}


/* text about saul */
.SaulBassText p {
  z-index: 4;
  line-height: 2em;
  margin: 1em;

}