@import url('https://fonts.googleapis.com/css?family=Poor+Story');

@font-face {
  font-family: 'Vertigon';
  src: url('./../fonts/Vertigon.otf');

}


body {
  background-color: #f6f1ed;
  font-family: Helvetica, sans-serif;
  font-size: 1.3em;


}

/* styling header and creating the crooked pattern for saul bass style */

header {
  filter: drop-shadow(10px 20px black);

}

.shapeContainer,
.shapeContainer1,
.shapeContainer2 {
  max-height: 100px;
  height: 100vh;
  width: 100%;
  background-color: #cf4917;
  clip-path: polygon(0% 0%, 0% 100%, 12% 88%, 22% 92%, 30% 98%, 41% 93%, 53% 88%, 63% 93%, 76% 97%, 86% 91%, 100% 99%, 100% 74%, 100% 2%, 100% 0%);
}

.shapeContainer1 {
  background-color: #cc0b1c;
}

.shapeContainer2 {
  background-color: #573D64;
}


/* menu/navigation styling */
.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu li {
  border: 3px black dotted;
  display: flex;
  font-size: 1em;
  margin: 1em;
  max-width: 8em;
  width: 100%;
  height: 100%;
  justify-content: center;
}


.menu li a {
  text-decoration: none;
  color: black;

}

.menu li a:hover {
  text-decoration: underline;
}

#home {
  border: none;
}

/* text */

.bodyText {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.greeting {
  font-family: 'Vertigon', 'Poor Story', cursive, Helvetica;
  font-size: 2em;
}

.information {
  text-align: justify;
  line-height: 2em;

}

/* footer styling */
footer {
  text-align: center;
  font-size: 0.6em;

}


/* about me page styling start  */

#myPassionCollage,
#makeup {
  float: left;
  box-shadow: 5px 5px 8px #cc0b1c;
  margin: 1em;


}

#makeup {
  box-shadow: 5px 5px 8px black;
}