@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');




* {
  box-sizing: border-box;
  border-radius: 15px;

}




body {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}



button {
  display: none;
}

.bgImg {
  background-image: url(../img/photo-1521017432531-fbd92d768814.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  height: 100vh;
  z-index: -1;
  opacity: 0.3;
  border-radius: 0;
}



.mainContainer {
  display: grid;
  grid-template-columns: 20% 3fr;
  align-items: center;
  width: 80%;
  height: fit-content;
  /* border: 2px solid black; */
  background-color: #0a1e1fbd;
  color: white;


}

.d-flex {
  display: flex;
}



.categoriesContainer {
  /* flex-direction: column; */
  align-content: space-around;
  justify-content: space-around;
  height: 100%;
  text-align: center;
  background-color: #1f2323;
  font-family: 'Ubuntu', sans-serif;
  grid-area: 1/1/span 1/ span 2;
  height: fit-content;
  margin-bottom: auto;


}



h1 {
  margin: -3% 0 0 0;
  font-size: 2rem;
}

.noGutters {
  padding: 0;
  margin: 0;
}

.category {
  border: 1px solid white;
  width: 20%;
}


img {
  object-fit: contain;
}

.dishImg {
  height: 28vh;
  position: absolute;
  align-self: flex-end;
}

.iconVeg {
  width: 3vw;
}

.vegetarian {
  width: 6vw;
}

.informationContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  margin-top: 3%;
}

.info {
  margin-right: auto;
}

.descriptionContainer {
  height: 100%;
  padding: 3rem 0;
  font-family: 'Raleway', sans-serif;
}

.longDescribtions {
  z-index: 1;
  align-self: flex-end;
  width: 70%;
  border: 1px solid;
  height: 70%;
  background-color: #251915de;
  color: white;
  padding: 2rem;
  line-height: 1.5rem;
  /* margin-right: 1rem; */
}


.imgContainer {
  display: flex;
  justify-content: center;
}

.courseListContainer {
  height: 100%;
  margin: 0.5rem 0;
  border-right: 1px solid white;
  border-radius: none;
  border-radius: 0;
}

.dishName {
  padding: 2.5rem 0 0.5rem 0;
  border: 1px solid;
  border-radius: 0 0 15px 15px;
  border-top: none;
  border-right: none;
  border-left: none;
}


.dishName h2 {
  margin-left: 0.3rem;
  font-family: 'Raleway', sans-serif;
  display: inline;
  font-size: 1rem;
}

.d-none {
  display: none;
}


.soldOut {
  position: absolute;

  font-size: 3rem;
  align-self: center;
  justify-self: center;
  background-color: red;
  padding: 3rem;
  z-index: 5;
  margin: 0;

}



.strikethrough {
  text-decoration: line-through;
  text-decoration-style: solid;
  text-decoration-color: red;
}



/* MEDIA QUERIES */


@media screen and (max-width:1300px) {
  .mainContainer {
    width: 90%;
  }

  .dishImg {
    height: 27vh;
  }

  .longDescribtions {
    width: 80%;
  }

}





@media screen and (max-width:1130px) {

  .mainContainer {
    width: 100%;
  }


  .longDescribtions {
    width: 90%;
  }
}


/* IPAD */
@media screen and (max-width:1024px) {
  body {
    overflow: scroll;
    margin: 0 auto;
  }

  .dishImg {
    height: 20vh;
    align-self: center;
  }

  .longDescribtions {
    /* height: 60%;
    width: 100%; */
    padding: 1rem;
  }
}


@media screen and (max-width: 700px) {

  .mainContainer {
    height: 100%;
    grid-template-columns: 1fr;
  }


  .dishImg {
    height: 35vh;
    position: relative;
  }


  .courseListContainer {
    display: none;

  }

  .categoriesContainer {
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 4;
    bottom: 5rem;
  }

  .slideIn {
    animation: slideIn 0.5s linear forwards 1;
  }


  @keyframes slideIn {
    0% {
      transform: translateY(100vh);
    }

  }

  .category {
    width: 100%;
  }



  .informationContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 5%;
    background-image: linear-gradient(to bottom, #07081399, #000000), url(../img/photo-1521017432531-fbd92d768814.jpeg);
    background-size: cover;
    height: 100vh;
  }

  .menuButtonContainer {
    z-index: 10;
  }




  .menuButtonContainer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 5rem;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), #07081399);

    /* background-color: #bcbfc3; */
    border-radius: 0;
    display: flex;
    justify-content: flex-end;
  }

  .descriptionContainer {
    border: 1px solid;
    height: 100vh;
    padding: 1rem 0;
    /* background-image: linear-gradient(to bottom, #07081399, #000000), url(../img/photo-1521017432531-fbd92d768814.jpeg);
    background-size: cover; */

  }




  .longDescribtions {
    width: 60%;
    height: 30vh;
    position: absolute;
  }

  button {
    display: block;
    width: 7rem;
    height: 4rem;
    bottom: 0;
    text-align: center;
    align-self: center;
    justify-self: center;
    right: 0;
    margin: 0 2rem;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;

    background-color: #111f21;
    color: white;
    font-size: 1.5rem;
  }


  .bgImg {
    background-image: none;
  }

  .imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .info {
    padding-left: 5vw;
  }
}


@media screen and (max-width: 515px) {


  .dishImg {
    height: 32vh;
  }

  .longDescribtions {
    width: 100%;
  }
}