/* styling header and creating the crooked pattern for saul bass style */
header {
  position: relative;
  max-height: 100px;
  height: 100vh;
  background-color: #cf4917;
}


/* menu/navigation styling */
.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.menu li {}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 3em;
  height: 100%;

}