.container {
  display: grid;
  /* grid-template-columns: 30%, 70%; */
  grid-gap: 1em;
  overflow: auto;
  font-family: Arial, sans-serif;
}

/* menu button css */
.dropDown {
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 5px 5px 8px 7px #ccc;
    -webkit-box-shadow: 5px 5px 8px 7px #ccc;
    box-shadow: 5px 5px 8px 7px #ccc;
  }

  20% {
    -moz-box-shadow: 1px 1px 3px 3px #ccc;
    -webkit-box-shadow: 1px 1px 3px 3px #ccc;
    box-shadow: 1px 1px 3px 3px #ccc;
  }

  50% {
    -moz-box-shadow: 0px 0px 1px 1px #ccc;
    -webkit-box-shadow: 0px 0px 1px 1px #ccc;
    box-shadow: 0px 0px 1px 1px #ccc;
  }

  100% {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
  }
}

#menu {
  font-size: 2rem;
  margin-bottom: 0;
  height: 4rem;
  width: 10rem;
  background-color: #0493c3;
  cursor: pointer;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#menu:hover {
  -webkit-animation-play-state: paused;
}

.menuList {
  background-color: slategrey;
  width: 8rem;
  box-shadow: 2px 3px;
  z-index: 50;
  margin-left: 2rem;
  position: absolute;
  padding: 6px;
  cursor: pointer;
}

.menuList div {
  padding: 8px;
}

.menuList a {
  text-decoration: none;
  color: black;
}

/* button css end  */

.text,
.text2 {
  grid-column-start: 2;
  grid-row-start: 2;
  height: 70vh;
  /* background-image: url('orange.jpg'); */
  background-size: cover;
}

/* rainbow css */

.blackAndWhite {
  grid-column-start: 1;
  display: none;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.black {
  background-color: black;

  /* max-width: 7rem; */
}

.blackAndWhiteTwo {
  grid-column-start: 2;
  grid-row-start: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;

  grid-template-rows: repeat(2, 1fr);
}

.findSpiderman {
  text-align: center;
  grid-column-start: 2;
  grid-row-start: 2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.findSpiderman h2 {
  margin-bottom: 2rem;
}

.rules {
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: left;
  margin-top: 2rem;
}

.rules li {
  padding: 1rem;
  margin-left: 2rem;
}

.doors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

#firstDoor,
#secondDoor,
#thirdDoor {
  /* background-image: url('door.jpg'); */
  background-size: contain;
  width: 130px;
  height: 300px;
  padding: 2rem;
}

/* start button */

#start {
  font-size: 14px;
  margin: 1rem;
  width: 150px;
  height: 40px;
  cursor: pointer;
  background-color: #0493c3;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* points */

#points,
#record {
  border: 2px solid black;
  width: 4rem;
  height: 3rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* record */

.recordLayout {
  display: flex;

  margin-top: 2rem;
  align-items: center;
  color: violet;
}

#record {
  margin-left: 1rem;
}

/* footer part */

footer {
  grid-column-start: 2;
  /* margin-bottom: 4rem; */
}

@media only screen and (max-width: 320px), (max-height: 568px) {
  .container {
    grid-template-columns: 100%;
  }

  .blackAndWhite {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .blackAndWhiteTwo {
    display: none;
  }

  .blackAndWhite1 {
    visibility: hidden;
    width: 50px;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .findSpiderman {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  #firstDoor,
  #secondDoor,
  #thirdDoor {
    /* background-image: url('door.jpg'); */
    background-size: contain;
    width: 50px;
    height: 130px;
    padding: 1rem;
  }

  .rules {
    margin-top: 0;
  }

  /* CSS ruleset */
}

@media only screen and (max-width: 375px) {
  .container {
    //grid-template-columns: 100%;
  }

  .blackAndWhiteTwo {
    display: none;
  }

  .blackAndWhite {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .findSpiderman {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  #firstDoor,
  #secondDoor,
  #thirdDoor {
    /* background-image: url('door.jpg'); */
    background-size: contain;
    width: 60px;
    height: 160px;
    padding: 1rem;
  }

  .rules {
    margin-top: 0;
  }

  footer {
    margin-top: 2rem;
    grid-column-start: 1;
    //grid-row-start: 2;
  }
}

/* photo collage of passion */
/* #ManoKoliazas {
  max-height: 80%;
  max-width: 90%;
} */

/*  Triangle page styling */

#labas {
  border: 2px solid black;
  height: 40px;
  width: 200px;
}
