li,
img {
  cursor: pointer;
}

img {
  height: 100px;
}

.crossOut {
  text-decoration: line-through;
}

.fadeout {
  animation: fadeout 1s linear 1 forwards;
}

@keyframes fadeout {
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}

div {
  margin-top: 4em;

}

.box,
button {
  border: 1px solid black;
}

input {
  margin-top: 5em;
}