.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 500px;
}

.circular {
  margin: 1em;
  display: flex;
}

#firstMove,
#thirdMove {
  margin: 0;
  align-self: flex-end;
  justify-self: flex-end;
}

#secondMove {
  margin-top: 0;
}

#thirdMove {
  margin: 0;
  align-self: flex-end;
  justify-self: flex-start;
}

#fourthMove {
  margin: 0;
  align-self: flex-start;
  justify-self: flex-start;
}

#fithMove {
  margin-top: 2em;
}

#sixthMove {
  margin: 0;
  align-self: flex-start;
  justify-self: flex-end;
}

.main {
  border: 2px black solid;
  border-radius: 50%;
  text-align: center;
  width: 100px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}