.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 400px;
}


#firstMove,
#thirdMove {
  margin: 0;
  align-self: flex-end;
  justify-self: flex-end;
  background-image: url("black-pencil.png");
  background-size: contain;
}

#secondMove {
  margin-top: 0;
}

#thirdMove {
  margin: 0;
  align-self: flex-end;
  justify-self: flex-start;
}

#fourthMove {
  margin: 0;
  align-self: flex-start;
  justify-self: flex-start;
}

#fithMove {
  margin-top: 1em;
  display:
}

#sixthMove {
  margin: 0;
  align-self: flex-start;
  justify-self: flex-end;
}

.menuelement {
  border: 2px black solid;
  border-radius: 50%;
  text-align: center;
  width: 100px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#burger {
  background-image: url("Menu-512.png");
  background-size: 80px;
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  display: block;
}