body {
  background-color: #9CB2FF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;

}

.container {
  background-color: #FFEBB5;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 25vw;

  width: 100vw;
  border: grey 2px solid;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #f4d1ff;
}

.inputContainers {
  background-color: white;
  max-width: 20vw;
  width: 100vw;
  justify-self: center;
  margin: 0 auto;

}

.inputFields {
  text-align: left;
  border: none;
  width: 20vw;
  height: 5vh;
  font-size: 1.2em;
}




/* button numbers */



.numbersAnd {
  margin: 0 auto;
  padding-top: 1vh;
  max-width: 20vw;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #FFE59B;

}

.inputValues {
  height: 8vh;
  margin: 0.5vh;
  width: 6vw;
  font-size: 3vh;
  background-color: #FFEBB5;
  display: flex;
  align-items: center;
  justify-content: center;

}






.actionsStyle {
  margin: 0 auto;

  background-color: #9CB2FF;

  width: 20vw;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: space-around;


}

.act {

  margin: 0.5vh;
  width: 6vw;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  background-color: #4961B3;
}




.test {
  margin-top: 400px;
  background-color: black;
  width: 100px;
  height: 100px;
  /* box-shadow: -20px 20px 10px green; */
  transform: rotate(-30deg) skewX(25deg);
}

.test::before {
  content: "";
  top: 7px;
  left: -15px;
  width: 15px;
  height: 100%;
  position: absolute;
  background-color: grey;
  transform: rotate(0deg) skewY(-45deg) translate(0, 0);
  box-sizing: border-box;

  border: 1px solid black;
}

.test::after {
  bottom: -15px;
  /* right: 40px; */
  left: -8px;
  content: "";
  width: 100%;
  height: 15px;
  position: absolute;
  background-color: grey;
  transform: rotate(0deg) skewX(-45deg);
  box-sizing: border-box;
  border: 1px solid black;

}


#canvas_1 {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}