body {
  background-color: #9CB2FF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;

}

.container {
  background-color: #FFEBB5;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 25vw;
  max-height: 60vh;
  height: 100vh;
  width: 100vw;
  border: grey 2px solid;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #f4d1ff;
}

.inputContainers {
  background-color: white;
  max-width: 20vw;
  width: 100vw;
  justify-self: center;
  margin: 0 auto;

}

.inputFields {
  text-align: right;
}

#input2 {
  border: none;
  max-height: 5vh;
  height: 100vh;
  font-size: 0.7em;
}

#input1 {
  border: none;

  max-height: 5vh;
  height: 100vh;
  font-size: 1em;

}

#input {
  border: none;

  max-height: 5vh;
  height: 100vh;
  font-size: 1.2em;

}

/* button numbers */

#sameLine {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.numbersAnd {
  padding-top: 1vh;
  max-width: 20vw;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #FFE59B;

}

.inputValues {
  height: 8vh;
  margin: 0.5vh;
  width: 6vw;
  font-size: 3vh;
  background-color: #FFEBB5;
  display: flex;
  align-items: center;
  justify-content: center;

}






.actionsStyle {
  background-color: #9CB2FF;

  width: 20vw;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: space-around;


}

.act {
  margin: 0.5vh;
  width: 6vw;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  background-color: #4961B3;
}