@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLTStd\ Lt.woff")
}

body {
  overflow: hidden;
  font-family: "Helvetica Neue";
}

.container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 100vh;
}


.keaLogo {
  width: 20vw;
  background-image: url("../logo/kea.png");
  height: 20vh;
  background-size: contain;
  background-repeat: no-repeat;
  animation: dorp 0.5s ease-in forwards 1;
}

@keyframes dorp {
  0% {
    transform: translateY(-100vh);
  }
}

.formLogin {
  width: 20vw;

  /* opacity: 0; */
  display: flex;
  flex-direction: column;
  animation: appearFromLeft 1s ease-in-out forwards 1;
}

@keyframes appearFromLeft {
  0% {
    transform: translateX(-100vw);
  }

}

.formLogin input {
  border: 1px solid black;
  margin-top: 0.3vh;
  margin-bottom: 2vh;
  height: 5vh;
  font-size: 2vh;

}

.formLogin label {
  margin-top: 3vh;
  font-size: 3vh;
}

#btn1 {
  background-color: #ea5045;
  height: 5vh;
  margin-top: 0;
  /* justify-self: center; */

}

#btn1:hover {
  background-color: #ffb4aa;


}

#message1 {
  text-align: center;
  background-color: #ea5045;
  margin-bottom: 0;
  animation: moving 0.5s linear forwards 1;
}

@keyframes moving {
  0% {
    transform: translateY(100vh);
  }
}

/* modules and tasks */
header {
  height: 10vh;
  width: 100vw;
  background-color: black;
}

h3 {
  font-size: 1.5vh;
}

.module {
  width: 20vw;
  padding: 0.2em;
}

.module1 {
  background-color: #ffb4aa;

}

.module2 {
  background-color: #6eceb2;
}

.module3 {
  background-color: #8e7fae;
}

.module4 {
  background-color: #ff671f;
}

/* themes */

.allProjects {
  margin-top: 3vh;
}

h4 {
  display: inline;
  margin: 1vh;

}

.themeBlock {
  margin: 1vh;
  padding: 0.7vh;

}

.themeBlock:hover {
  background-color: white;
}



.theme2 {
  background-color: #6eceb2;
  padding: 0.5vh;
}

.theme3 {
  background-color: #8e7fae;
  pad: 0.5vh;
}

h5 {
  font-size: 1.6vh;
  margin-left: 10vw;
}



/* modules and tasks */




@media screen and (max-width: 600px) {
  .formLogin {
    width: 80vw;
  }

  .keaLogo {
    width: 80vw;
  }
}