@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLTStd\ Lt.woff")
}

body {
  font-family: "Helvetica Neue", sans-serif;
}

.keaListContainer {
  /* width: 30vw; */
  background-color: rgba(7, 98, 200, 0.3);
  border-radius: 30px;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  border-bottom: 1px solid white;
  border-radius: 30px;
  align-items: flex-end;
}


.resultName {
  background-color: blueviolet;
}