@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLTStd\ Lt.woff")
}

body {
  font-family: "Helvetica Neue", sans-serif;
}


.keaListContainer {
  /* width: 30vw; */
  background-color: rgba(7, 98, 200, 0.3);
  border-radius: 30px;
}


.layoutClass {
  margin-top: 15vh;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  border-bottom: 1px solid white;
  border-radius: 30px;
  align-items: flex-end;

  cursor: pointer;
}

.name:hover {
  background-color: white;
}


.resultName {
  background-color: rgba(253, 215, 87, 0.3);
}

.chatBox {
  display: none;
  /* display: flex; */
  padding: 2vh 0;
  background-color: rgba(253, 215, 87, 0.3);
  border-radius: 30px;
  flex-direction: column;
  align-items: center;

  margin-top: 10vh;
}

.textArea {
  font-size: 1.5vh;
  width: 15vw;
  border-radius: 30px;

}


.airplane {
  display: none;
  background-image: url("../icons/paperairplane.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 8vh;
  position: relative;

  /* position: absolute; */
  animation: fly 2s ease-in-out forwards 1;
}

@keyframes fly {


  30% {
    transform: translate(50vw, 50vh);
  }

  100% {
    transform: translate(100vw, -100vh);
  }

}