body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

header {
  grid-column-start: 1;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;

}

.movementButton {
  max-width: 200px;
  width: 100%;
  max-height: 50px;
  height: 100vh;
  margin: 0.5em;
}