body {
  background-color: grey;
  margin: 0 auto;

}

.box {
  width: 100px;
  height: 100px;
  background-color: white;
  margin: o auto;
  transition: all;
  margin: 1em;
  /* animation: boxanimation;
  animation-duration: 3s; */
}


.box1 {
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.box2 {
  transition-duration: 1s;
  transition-timing-function: linear;
}

.box3 {
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}

.box4 {
  transition-duration: 3s;
  transition-timing-function: ease-in;


}

.box5 {
  transition-duration: 3s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}


.box6 {
  transition-duration: 1s;
  transition-timing-function: ease-out;

}

.box1:hover {
  background-color: aqua;
}

.box2:hover {
  border-radius: 50%;
  background-color: blue;

}

.box3:hover {
  width: 200px;
  transform: rotateX(180deg);
  background-color: green;
}

.box4:hover {
  height: 200px;
  border: 6px red solid;
  /* background-color: red green; */
}

.box5:hover {
  text-transform: uppercase;
  font-size: 2rem;
  width: 200px;
  color: orange;
  background-color: blue;

}

.box6:hover {
  border-radius: 50% 0 50% 0;
  background-color: green;
  transform: rotateY(90deg);
}