@import url('https://fonts.googleapis.com/css?family=Raleway');

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-family: "Raleway";
}

.textTransform {
  text-transform: uppercase;

}

header {
  grid-column-start: 1;
  grid-column-end: span 12;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
  background-color: #00657F;
  padding: 3em;
}

h1 {
  font-size: 2em;
  margin: 1em;
}


.mainButton {
  max-width: 80px;
  width: 100%;
  border: 2px black solid;
  background-color: #4CDAFF;
}

.navigation {
  grid-column-start: 1;
  grid-column-end: span 12;

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2em;
  text-align: center;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */

}

.navigation>div,
.content>div {
  padding-top: 20px;
  max-width: 150px;
  text-align: center;
  border: 3px seashell solid;
  background-color: white;
  margin: 0.5em;
}

.content {
  grid-column-end: span 12;
  display: flex;
  flex-direction: row;
  max-width: 700px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 3em;
  border: 2px grey solid;
}

footer {
  grid-column-end: span 12;
  text-align: center;
  background: darkgrey;
  margin-top: 1em;
}