body {
  background-color: pink;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;

}


/* button */
.button1 {
  width: 50px;
  height: 50px;
  background-color: #52B2A6;
  grid-column-start: 2;
  align-self: center;
  justify-self: center;
  transition: height 1s, width 1s 1s, border-radius 1s 2s, transform 1s 3s, box-shadow 1s 4s;
}


.button1:hover {
  height: 200px;
  width: 300px;
  border-radius: 40% 40% 70% 40%;
  transform: rotate(-360deg);
  box-shadow: 10px 10px 25px 20px hotpink;
  transform-origin: bottom left;
}

/* button */
/* :start */

.start {
  opacity: 0;
  font-size: 2em;
  /* animation: starting 2s ease-in 4s 1 forwards; */

}

/* @keyframes starting {
  100% {
    opacity: 1;
    /* transform: rotate(180deg); */


/* start */




div {
  margin-top: 5em;
  /* background-image: url("./images/new3.png"); */
  height: 440px;
  background-repeat: no-repeat;
  width: 300px;
  animation: moving 2s steps(11) infinite;

}

@keyframes moving {
  to {
    /* transform: translateX(-2000px); */
    background-position: -3157px;

  }
}