body {
  background-color: pink;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;

}


/* button */
.button1 {
  width: 50px;
  height: 50px;
  background-color: #52B2A6;
  grid-column-start: 2;
  align-self: center;
  justify-self: center;
  transition: height 1s, width 1s 1s, border-radius 1s 2s, transform 1s 3s, box-shadow 1s 4s;
}


.button1:hover {
  height: 200px;
  width: 300px;
  border-radius: 40% 40% 70% 40%;
  transform: rotate(-360deg);
  box-shadow: 10px 10px 25px 20px hotpink;
  transform-origin: bottom left;
}

/* button */
/* walking */
.monster {
  margin-top: 20em;
  background-image: url("./images/walking1.png");
  height: 440px;
  background-repeat: no-repeat;
  width: 280px;
  animation: moving 4s steps(11) forwards 1;
  /* animation-timing-function: cubic-bezier(.25, .53, .37); */

}

@keyframes moving {
  to {
    transform: translateX(600px);
    background-position: -3157px;

  }
}

/* talking */
.monster2 {

  margin-top: 20em;
  background-image: url("./images/talking.png");
  height: 440px;
  background-repeat: no-repeat;
  width: 280px;
  animation: talking 4s steps(19) 1;
  animation-delay: 4s;

}

@keyframes talking {
  to {
    /* transform: translateX(600px); */
    background-position: -5453px;
    display: block;
  }


  /* }talking */