@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

.container {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-color: pink;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* button */
.button1 {
  grid-area: 1/2 / span 1 / span 2;
  width: 50px;
  height: 50px;
  background-color: #52b2a6;
  grid-column-start: 2;
  grid-column-end: span 2;
  align-self: center;
  justify-self: center;
  font-size: 4em;
  font-family: "Indie Flower", cursive, sans-serif;
  cursor: pointer;
}

.blinking {
  animation: blinking 1s linear infinite;
}
@keyframes blinking {
  0% {
    box-shadow: 1px 1px 2px blue;
  }
  35% {
    box-shadow: 5px 5px 6px blue;
  }
  50% {
    box-shadow: 10px 10px 10px green;
  }
  100% {
    box-shadow: 15px 15px 15px blue;
  }
}

.changes {
  animation: changes 1s ease-in 1 forwards;
  -webkit-animation: changes 1s ease-in 1 forwards;
}

@keyframes changes {
  100% {
    height: 200px;
    width: 300px;
    border-radius: 40% 40% 70% 40%;
    transform: rotate(-360deg);
    transform-origin: bottom left;
    box-shadow: 10px 10px 25px 20px hotpink;
  }
}

/* button */

/* monster placement */
#monster1 {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
}

#monster2 {
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 1;
}

#Wmonster {
  grid-column-start: 3;
  grid-column-end: span 2;
  grid-row-start: 1;
}

#interaction {
  grid-area: 1/2 / span 1 / span 2;
}

/* monster placement */

/* walking */
.monster,
.monster3 {
  display: none;
  margin-top: 20em;
  background-image: url("./images/walking1.png");
  height: 440px;
  background-repeat: no-repeat;
  width: 280px;
}

.monster {
  animation: moving 4s steps(11) forwards 1;
  -webkit-animation: moving 4s steps(11) forwards 1;
}

@keyframes moving {
  to {
    transform: translateX(30vw);
    background-position: -3157px;
  }
}

/* talking */
.monster2 {
  display: none;
  margin-top: 20em;
  background-image: url("./images/talking.png");
  height: 440px;
  background-repeat: no-repeat;
  width: 280px;
  animation: talking 5s steps(19) 1;
  -webkit-animation: talking 5s steps(19) 1;
}

@keyframes talking {
  to {
    /* transform: translateX(600px); */
    background-position: -5453px;
  }
}

/* }talking */

/* /wmonster */

.Wmonster,
.wmonster2 {
  display: none;
  background-image: url("./images/wmonsterWalking.png");

  margin-top: 20em;
  height: 440px;
  background-repeat: no-repeat;
  width: 280px;

  /* animation-delay: 4s; */
}

.Wmonster {
  -webkit-animation: moving 4s steps(11) forwards reverse 1;
  animation: moving 4s steps(11) forwards reverse 1;
}

/* /wmonster */
/* interaction */
.interaction {
  display: none;
  margin-top: 20em;
  background-image: url("./images/interaction.png");
  height: 440px;
  background-repeat: no-repeat;
  width: 570px;
  animation: interaction 2s steps(7) 1;
  -webkit-animation: interaction 2s steps(7) 1;
}

@keyframes interaction {
  to {
    background-position: -4000px;
  }
}

/* options */
.optionsContainer {
  display: none;
  grid-area: 1/ 1 / span 1 / span 4;
}

.options {
  display: flex;
  max-height: 200px;
  height: 100vh;
  max-width: 250px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Indie Flower", cursive;
  font-size: 2em;
  text-align: center;
  align-items: center;
  margin-left: 3em;
  cursor: pointer;
  background-image: url("./images/optionBackground.png");
}

.replaybtn:hover,
.startover:hover,
.options:hover {
  /* filter: drop-shadow(10px 10px 10px 15px #52B2A6); */
  -webkit-filter: drop-shadow(5px 5px 10px yellow);
  filter: drop-shadow(5px 5px 5px yellow);
}

.option1 {
  margin-top: 1em;
  animation: showOption 1s 1 forwards;
}

.option2 {
  animation: showOption2 1s 1 forwards;
}

@keyframes showOption {
  0% {
    transform: translate(-400px, 400px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes showOption2 {
  0% {
    transform: translate(-400px, 400px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate(300px, -100px);
  }
}

/* options */

/* going home */

.monster3 {
  grid-area: 1/2 / span 1 / span 1;
}

.monster3 {
  /* display: block; */
  margin-top: 20em;
  background-image: url("./images/walking1.png");
  height: 440px;
  background-repeat: no-repeat;
  width: 280px;
  animation: movingHome 3s steps(11) forwards 1;
  -webkit-animation: movingHome 3s steps(11) forwards 1;
}

@keyframes movingHome {
  to {
    transform: translateX(100vw);
    background-position: -3157px;
    opacity: 0;
  }
}

#wmonster2 {
  grid-area: 1/2 / span 1 / span 2;
}

.wmonster2 {
  /* display: block; */
  /* -webkit-animation: movingHome1 3s steps(11) forwards 1; */
  animation: movingHome1 3s steps(11) forwards 1;
}

@keyframes movingHome1 {
  to {
    transform: translateX(-400px);
    background-position: -3157px;
    opacity: 0;
  }
}

/* swinging */

.swinging {
  grid-area: 1/ 3 / span 1 / span 2;

  display: none;
  margin-top: 20vw;
  margin-left: 4em;
  background-image: url("./images/swinging.png");
  width: 568px;
  background-repeat: no-repeat;
  animation: swinging 2s steps(10) infinite;
}

@keyframes swinging {
  100% {
    background-position: -5735px;
  }
}

.tvnews {
  display: none;
  grid-area: 1/ 1 / span 1 / span 2;
  margin-top: 25vw;
  margin-left: 3em;
  background-image: url("./images/tvnews01-2.png");
  background-repeat: no-repeat;
  width: 395px;
  height: 473px;
  animation: tvnews 8s steps(33) 7;
}

@keyframes tvnews {
  100% {
    background-position: -14680px;
  }
}

/* going home together */

.together {
  display: none;
  grid-area: 1/2 / span 1 / span 2;
  background-image: url("./images/together1.png");
  margin-top: 15vw;
  height: 450px;
  width: 607px;
  animation: together 5s steps(12) 1 forwards;
}

@keyframes together {
  to {
    transform: translateX(500px);
    background-position: -7641px;
    opacity: 0;
  }
}

/* date tv */

.datetv {
  display: none;
  grid-area: 1/ 3 / span 1 / span 2;
  margin-top: 25vw;
  margin-left: 3em;
  background-image: url("./images/datetv.png");
  background-repeat: no-repeat;
  width: 395px;
  height: 473px;
  animation: tvnews 8s steps(33) 1;
}

.dateend {
  display: none;
  grid-area: 1/1 / span 1 / span 2;
  background-image: url("./images/dateend.png");
  background-repeat: no-repeat;
  width: 630px;
  height: 450px;
  margin-top: 25vw;
  margin-left: 15vw;
  animation: dateend 6s steps(13) 1;
}

@keyframes dateend {
  to {
    background-position: -8066px;
  }
}
/* replay and start over buttons */

.endbuttons {
  display: none;
  opacity: 0;
  margin-top: 3em;
  grid-area: 1/3 / span 1 / span 2;
  background-image: url("./images/optionBackground.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  font-size: 2em;
  font-family: "Indie Flower", cursive, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  /* animation: appear 1s linear forwards 1; */
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

.replaybtn {
  margin-left: 200px;
}
