@font-face {
  font-family: "Indie Flower";
  src: url("./font/IndieFlower-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto-Regular.ttf");
}

body {
  font-family: "Indie Flower", cursive;
  /* owerflow */
  background-image: url(../images/images/bg_horror_v_1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

:root {
  --colNum: 2;
}

.mt-20 {
  margin-top: 20%;
}

.p-3rem {
  padding: 3rem;
}

#bg {
  position: fixed;
  z-index: -1;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.grid-flex-column {
  /* position: relative; */
  display: grid;
  grid-template-columns: repeat(var(--colNum), 1fr);
  grid-gap: 2rem;
}

.playAgain {
  margin: 0 auto;
}

.justify-self-end {
  justify-self: flex-end;
}

.container-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}

.grid-two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container-row {
  display: flex;
  align-items: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.number {
  background-color: white;
  padding: 0 1rem;
}

.number-lives {
  margin: 0 1rem;
  border-radius: 15%;
}

.number_score {
  border-radius: 15% 0 0 15%;
  border-right: 1px solid black;
}

.number_score_2 {
  border-radius: 0 15% 15% 0;
}

.z-5 {
  z-index: 5;
}

.entrance {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}

.door-w {
  /* width: 35%; */
  width: 15%;
  transition: all;
  transition: 3s;
  z-index: 6;
}

.imgBehidDoors {
  z-index: 3;
  width: 10vw;
  margin-top: 3rem;
  position: absolute;
  padding: 0;
}

.frame-w {
  /* width: 50%; */
  width: 22%;
  z-index: 2;
}

.message {
  z-index: 6;
  align-self: center;
  margin-top: -10%;
  width: 12vw;
  opacity: 0;
  animation: zoomIn 1s 0.5s linear forwards 2;
  -webkit-animation: zoomIn 1s 0.5s linear forwards 2;
  -moz-animation: zoomIn 1s 0.5s linear forwards 2;
}

@keyframes zoomIn {
  100% {
    transform: scale(1.5);
    opacity: 1;
  }
}

.heartPulse {
  transition: all;
  animation: pulse 0.4s 4 alternate ease-in-out;
}

@keyframes pulse {
  0% {
    width: 1rem;
  }

  100% {
    width: 2rem;
    filter: drop-shadow(10px 10px 10px red);
  }
}

.inf {
  animation: scare 0.5s linear backwards 2;
  perspective-origin: center;
  -webkit-perspective-origin: center;
  -moz-perspective-origin: center;
  -ms-perspective-origin: center;
  z-index: 3;
}

@keyframes scare {
  0% {
    transform: scale(0.4);
  }

  50% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(30deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
  }
}

.doors {
  position: absolute;
  margin: 0;
  padding: 0;
}

.door-animation {
  transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;

  perspective-origin: bottom;
  -webkit-perspective-origin: bottom;
  -moz-perspective-origin: bottom;
  -ms-perspective-origin: bottom;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  perspective: 10000px;
  -moz-perspective: 10000px;
  -webkit-perspective: 10000px;
  -moz-perspective: 10000px;
  /* transform: rotateY(-180deg); */
  transition: all;
  animation: openDoors 0.5s linear forwards 1;
  -webkit-animation: openDoors 0.5s linear forwards 1;
  -moz-animation: openDoors 0.5s linear forwards 1;
}

@keyframes openDoors {
  to {
    transform: rotateY(-90deg);
  }
}

h4 {
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

.img-icon-1 {
  width: 4rem;
  object-fit: contain;
  align-self: center;
  justify-self: center;
  z-index: 1;
}

.no-gutters {
  margin: 0;
  padding: 0;
}

h3 {
  text-align: left;
}

h2 {
  font-size: 6rem;
  color: white;
  z-index: 1000;
}

.pb-1 {
  padding-bottom: 2.5rem;
}

.pb-2 {
  padding-bottom: 1rem;
  font-size: 2vw;
}

.h-100 {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.w-40 {
  width: 40%;
}

.mr-4 {
  margin-right: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  /* background-image: url(../images/images/bg_horror_v_1.jpg); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.infoButtonContainer {
  height: 5rem;
  display: flex;
  align-items: center;
  width: 5rem;
  padding: 2rem;
  justify-content: center;
}

.soundContainer {
  display: flex;
  align-items: center;
  width: 5rem;
  padding: 2rem;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.startButton {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #208667;
}

.infoButton {
  border-radius: 50%;
  background-color: #23b19b;
  width: 3.5rem;
  height: 3.5rem;
  transition: background-Color 0.5s, width 0.5s, height 0.5s;
}

.infoButtonHover {
  background-color: rgb(6, 138, 37);
  width: 5rem;
  height: 5rem;
}

.returnButton {
  background-color: #a00b0b;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  transition: background-Color 0.5s, width 0.5s, height 0.5s;
}

.returnButtonHover {
  background-color: rgb(6, 138, 37);
  width: 9rem;
  height: 9rem;
}

.popUpInstructionsContainer {
  background-color: bisque;
  padding: 6rem;
  border-radius: 15%;
  font-size: 20px;
}

.center-absolute {
  left: -50%;
  right: -50%;
}

.popUpInstructionsContainer h2 {
  padding: 1rem;
  margin: 0;
}

.gotItbg {
  width: 10vw;
  height: 10vh;
}

.gotItHover {
  width: 15vw;
  background-color: #a8b123;
}

#returnButtonContainer h2 {
  font-size: 4rem;
}

.p-absolute {
  position: absolute;
}

.m-40 {
  margin-top: 40%;
}

.mt-9 {
  margin-top: 9rem;
}

.d-none {
  display: none;
  transition: 2s;
}

.d-block {
  animation: opacityToOne 0.5s linear forwards 1;
  transition: 2s;
  opacity: 0;
}

.h-60 {
  height: 60%;
}

.opacity-0 {
  opacity: 0;
}

.pointer {
  cursor: pointer;
}

/* animations   */

/* Notifications for next level */

.d-flex {
  display: flex;
}

.nextLevelShoutOutContainer {
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  position: absolute;
  z-index: 10;
  /* margin: 0 auto; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  font-size: 5vw;
}

.containerImgShoutout_bg_blue {
  background-color: #07b6d2f0;
}

.containerImgShoutout {
  border-radius: 50px;
  animation: pulseNextlvl 0.5s ease-in-out 3 alternate backwards;
}

.containerImgShoutout_bg_yellow {
  background-color: #d25d07f0;
}

.winColor {
  background-color: #00ffe7ab;
  border-radius: 50px;
  opacity: 0;
  animation: opacityToOne 0.5s linear forwards 1;
}

.bg-playagain {
  background-color: #a8b123;
}

em {
  color: white;
}

.w-15vw {
  width: 16vw;
  height: 11vh;
}

.c-black {
  color: black;
}

.c-white {
  color: white;
}

.font-4rem {
  font-size: 4rem;
}

.reward {
  width: 10vw;
  object-fit: contain;
}

.p-4vw h1 {
  margin: 0;
  padding: 0;
  padding: 4vw;
  /* transition: all; */
}

@keyframes pulseNextlvl {
  0% {
    font-size: 1vw;
  }

  100% {
    opacity: 1;
    font-size: 5vw;
  }
}

.button {
  width: 10vw;
  height: 10vh;
}

.h2Third {
  font-size: 6vw;
}

.third h1 {
  font-size: 3vw;
}

.looseColor {
  font-size: 3vw;
  background-color: #961919de;
  color: White;
  border-radius: 50px;
  opacity: 0;
  animation: opacityToOne 0.5s linear forwards 1;
}

.m-1rem {
  margin: 1rem;
}

.v-h-11 {
  width: 11vw;
  height: 11vh;
}

.font-4 {
  font-size: 4vw;
}

.pulseBtn {
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(236, 227, 227, 0.4);
  animation: pulsebtn 0.5s infinite alternate;
}

.pulseBtn:hover {
  animation: none;
}

@-webkit-keyframes pulsebtn {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(236, 227, 227, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(236, 227, 227, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(236, 227, 227, 0);
  }
}

@keyframes pulsebtn {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(236, 227, 227, 0.4);
    box-shadow: 0 0 0 0 rgba(236, 227, 227, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(236, 227, 227, 0);
    box-shadow: 0 0 0 30px rgba(236, 227, 227, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(236, 227, 227, 0);
    box-shadow: 0 0 0 0 rgba(236, 227, 227, 0);
  }
}

.z-8 {
  z-index: 8;
}

.soundBG {
  background-color: #fff;
  transition: background-Color 0.5s, width 0.5s, height 0.5s;
}

.soundBgHover {
  width: 4rem;
  height: 4rem;
  background-color: rgba(255, 132, 0, 0.893);
}

@keyframes opacityToOne {
  100% {
    opacity: 1;
  }
}

/* MEDIA QUERIES */

@media screen and (min-width: 1300px) {
  .door-w {
    width: 13%;
  }

  .frame-w {
    width: 19%;
  }
}

@media screen and (max-width: 1024px) {
  .font-4 {
    font-size: 9vw;
  }

  .pb-2 {
    font-size: 3vw;
  }
}

@media screen and (max-width: 812px) {
  .font-4 {
    font-size: 5vw;
    margin-bottom: -3%;
    margin: 0;
  }

  h2 {
    font-size: 4rem;
  }

  .pb-2 {
    padding-bottom: 0;
    font-size: 2.5vw;
  }

  .pb-1 {
    padding-bottom: 0.5rem;
    margin-top: 1rem;
  }

  .startButton {
    width: 6rem;
    height: 6rem;
  }

  .mt-20 {
    margin-top: 4%;
  }

  .d-flex-column {
    justify-content: end;
  }

  .infoButtonContainer {
    height: fit-content;
    width: fit-content;
    margin: 1rem;
    float: left;
  }

  .container-column-center {
    padding: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  .w-40 {
    width: 60%;
  }

  .door-w {
    width: 12%;
  }

  .frame-w {
    width: 17%;
  }

  .img-icon-1 {
    width: 1.5rem;
  }

  .soundContainer {
    padding: 0;
    float: right;
    margin: 1rem;
  }

  .infoButton {
    width: 2.5rem;
    height: 2.5rem;
  }

  .highScore {
    padding: 0.5rem;
    margin-left: 40%;
    float: left;
  }

  .popUpInstructionsContainer {
    padding: 1rem;
    font-size: 1rem;
  }

  #popUpInstructionsContainer {
    padding: 0;
  }

  #returnButtonContainer {
    padding: 0;
    margin: 3rem;
  }

  .returnButton {
    width: 5rem;
    height: 5rem;
  }

  .font-3rem {
    font-size: 3rem;
  }

  .playAgainBgBtn {
    width: 9rem;
    height: 4rem;
  }

  .gotItbg {
    width: 7rem;
    height: 4rem;
  }

  .font-4rem {
    font-size: 1.3rem;
  }

  .playAgain {
    margin-top: 5rem;
  }
}
