@font-face {
  font-family: 'Indie Flower';
  src: url('./font/IndieFlower-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Regular.ttf');
}


body {
  font-family: "Indie Flower", cursive;

}


.container-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.container-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.grid-two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container-row {
  display: flex;
  align-items: center;

}

.justify-evenly {
  justify-content: space-evenly;
}

.number {
  background-color: white;
  padding: 0 1rem;
  margin: 0 1rem;
  border-radius: 15%;
}

.z-5 {
  z-index: 5;
}

.entrance {
  /* background-image: url(../images/images/door-frame_v_2.png);
  background-position: center;

  width: 20vw;
  background-size: contain;
  background-repeat: no-repeat;
  /* height: 60vh; */
  /* margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;  */

  display: flex;
  justify-content: center;
  align-items: center;

}

.door-w {
  width: 13%;
  transition: all;
  transition: 3s;

  transform-origin: left bottom;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 100000px;
  -moz-perspective: 100000px;
  -webkit-perspective: 100000px;
  -moz-perspective: 100000px;
  perspective-origin: left bottom;
  -webkit-perspective-origin: left bottom;
  -moz-perspective-origin: left bottom;
  -ms-perspective-origin: left bottom;
}


.frame-w {
  width: 20%;
}

.doors {
  /* background-image: url(../images/images/doors.png); */
  position: absolute;
  margin: 0;
  padding: 0;
  /* background-size: contain; */
  /* height: 80%; */
  /* background-repeat: no-repeat; */
  /* position: absolute; */
  /* animation: openDoor 1s linear forwards 1; */



  /* transform */



}


.door-w:hover {
  transform: rotateY(-180deg);

}

h4 {
  font-size: 3.5rem;
  padding: 0;
  margin: 0;
}

.img-icon-1 {
  width: 3rem;
  object-fit: contain;
}

.no-gutters {
  margin: 0;
  padding: 0;

}

h3 {
  text-align: left;
}

h2 {
  font-size: 6rem;
  color: white;
}



.pb-1 {
  padding-bottom: 2.5rem;
}

.pb-2 {
  padding-bottom: 1rem;
}


.h-100 {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.w-40 {
  width: 40%;
}

.mr-4 {
  margin-right: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: url(../images/images/bg_horror_v_1.jpg);
  background-size: cover;
  overflow: hidden;

}

.infoButtonContainer {
  height: 5rem;
  display: flex;
  align-items: center;
  margin: 2.5rem;
  width: 5rem;
  justify-content: center;
}

.text-center {
  text-align: center;

}

.startButton {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #208667;
}

.infoButton {
  border-radius: 50%;
  background-color: #23B19B;
  width: 3.5rem;
  height: 3.5rem;
}


.returnButton {
  background-color: #A00B0B;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.popUpInstructionsContainer {
  background-color: bisque;
  padding: 6rem;
  border-radius: 15%;
  font-size: 20px;
}

.popUpInstructionsContainer h2 {
  padding: 1rem;
  margin: 0;
}

#returnButtonContainer h2 {
  font-size: 4rem;
}

.p-absolute {
  position: absolute;
}

.m-40 {
  margin-top: 40%;
}

.mt-9 {
  margin-top: 9rem;
}

.d-none {
  display: none;
  transition: 2s;

}

.d-block {
  animation: opacityToOne 1s linear forwards 1;
  transition: 2s;
  opacity: 0;
}


.opacity-0 {
  opacity: 0;
}

.pointer {
  cursor: pointer;
}

/* animations   */

.opacity-animation {}

@keyframes opacityToOne {

  100% {
    opacity: 1;
  }

}